@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}

.container{
    width: 600px;
    margin: 0 auto;
}
ul{
    list-style: none;
}

.tit{
    width: 70px;
    float: left;
}
.siz{
    width: 50;
}

fieldset legend{
    font-weight: bold;
    color: purple;
}

div .center{
    text-align: center;
}