@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-weight: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
   
}


.box{
    width: 1500px;
    height: 750px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 30px rgba(black, .2);
    position: relative;
    transform: translate3d(0, 0, 0);
}


.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0af;
    width: 500px;
    height: 500px;
    transform-origin: 50% 48%;
    margin-left: -250px;
    margin-top: -250px;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }

  .two{
    animation: drift 5000ms infinite linear;
  }


@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
