@charset "utf-8";
@import "reset.css"; 

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d0d3d6;
    font-weight: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.canvas{
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow:  0 4px 6px rgba(50,50,93,0.11) ;
}

.controls{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.controls .controls_btns{
    margin-bottom: 30px;
}

.controls_btns  button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.controls_btns  button:active{
    transform: scale(0.98);
}


.controls .controls_colors{
    display: flex;
}

.controls_colors .controls_color{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow:  0 4px 6px rgba(50,50,93,0.11) ;
}

.controls .controls_range{
    margin-bottom: 30px;
}

