@charset "utg-8";

*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

div{
    word-break:break-all;
}
header{
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #000000;
}

header .inner{
    width: 1400px;
    margin: 0 auto;
}

header h1{
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}

header nav {
    float: right;
}

header nav li{
    float: left;
    margin-top: 20px;
    margin-right: 60px;
    border: 1px solid #000;
}

header nav li a{
    display: block;
    padding: 0 40px;
    line-height: 65px;
    font-size: 20px;

}
header nav li:hover,
header nav li a:hover{
    font-weight: bold;
    font-size: 25px;

}

footer{
    width: 100%;
    height: 200px;
    /* border: 1px solid #000000; */
    margin: 0 auto;
    position: absolute;
}

.searchimg{
    width: 100%;
    height: 500px;
    border: 1px solid #000000;

}

.main{
    width: 1400px;
    height: 1235px;
    margin: 0 auto;
    /* border: 1px solid #000000; */
    position: relative;
}


.main nav{
    float: right;
}

.main nav li{
    float: left;
}

.main nav li .mainkind{
    width: 100%;
    height: 398px;
    margin: 5px;
    /* border: 1px solid #000000;  */

}

.main nav ul li .mainkind .mainkindkind{
    font-weight: bold;
    font-size: 30px;
}

.main nav ul li .mainkind .mainkindsetumei{
    font-weight: bold;
    color: darkgrey;
}

.main nav ul li .mainkind .kindkind{
    width: 295px;
    height: 340px;
    /* border: 1px solid #000000; */
    margin: 5px 15px 5px 30px;
    overflow: hidden;
}
.main nav ul li .mainkind .kindkind .imgdiv{
    width: 295px;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
}


.main nav ul li .mainkind .kindkind .clientimg{
    width: 100%;
   
   
    /* border: 1px solid #000; */
}

.main nav ul li .mainkind .kindkind .smallkind{
    width: 295px;
    height: 64px;
    
    /* border: 1px solid #000; */
}
.main nav ul li .mainkind .kindkind .smallkind .smalltitle{
    width: 295px;
    height: 15px;
    font-size: 14px;
    line-height: 5px;
    /* border: 1px solid #000; */
}
.main nav ul li .mainkind .kindkind .smallkind .setumei{
    width: 295px;
    height: 42px;
    font-size: 12px;
    /* border: 1px solid #000; */
}

.main nav ul li .mainkind .kindkind .money{
    width: 295px;
    height: 65px;
    /* border: 1px solid #000; */
}

.main nav ul li .mainkind .kindkind .money .allmoney{
    width: 295px;
    height: 25px;
    font-size: 15px;
    color: darkgrey;
    /* border: 1px solid #000; */
}

.main nav ul li .mainkind .kindkind .money .monmoney{
    width: 295px;
    height: 40px;
    font-weight: bold;
    font-size: 23px;
    /* border: 1px solid #000; */
}

