*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: antiquewhite;
    width: 100%;
    height: 500px;
}
nav{
    background-color: aqua;
    width: 100%;
    height: 500px;
}
.main{
    width: 100%;
    height: 500px;
    background-color: black;
}

footer{
    width: 100%;
    height: 500px;
    background-color: blue;
}