@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: top;
}

body{
    background-color: #efefef;
    
}

.topbanner{
    height: 520px;
    overflow: hidden;
}

header{
    width: 100%;
    height: 65px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

header .inner{
    width: 1000px;
    margin: 0 auto;
}

header h1{
    float: left;
    margin-top: 15.5px;
}

header nav {
    float: right;
}

header nav li{
    float: left;
}

header nav li a{
    display: block;
    padding: 0 25px;
    line-height: 65px;

}

header nav li a:hover{
    background-color: #091e83;
    color: #fff;
}

.main{
    width: 100%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

header.sticky{
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
}

.grid-item{
    width: 230px;
    background-color: gray;
    float: left;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
  
}

img{
    vertical-align: top;
}

.grid {
   align-self: center;
}
