@charset "utf-8";

aside{
    position: fixed;
    top: 250px;
    right: -340px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
aside img{
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 550px;
    left: -52px;

}
aside nav .newcon {
    font-size: 1em;
    border: 1px solid #000;
    margin-top: 20px;
    margin-left: 100px;
    
}
aside nav .big {
    background: linear-gradient(#fff,rgba(0,168, 243,0.5));
    border-radius: 40px;
    width: 100%;
    height: 600px;
    margin-top: 00px;
    border: 2px solid #fff;
}
aside nav .small {
    /* border: 3px solid rgb(0,168,243); */
    border-radius: 40px;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}
aside nav .small2 {
    height: 150px;
    border-radius: 40px;

}
aside nav div p {
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;

}